.cell{
    width: 7rem;
    height: 7rem;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin: 1px;
    user-select: none;
    /* transform: 2s all; */
    transition: 0.3s all;
}

.field{
    /* display: flex;
    justify-content: center; */
    margin: 40px 0;
}

.line{
    display: flex;
    justify-content: center;
    opacity: 0.8;
}

@media (max-height: 610px ) {
    .cell{
        width: 5rem;
        height: 5rem;
        transition: 0.3s all;
    }   
}
@media (max-width: 360px ) {
    .cell{
        width: 5rem;
        height: 5rem;
        transition: 0.3s all;
    }   
}