a{
    text-decoration: none;
    color: black;
}
.header{
    width: 100%;   
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 8;
    box-shadow: 0 2px 4px rgba(33,51,67,0.12);
}
.header_card{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 820px;
    padding: 10px 0;
    background-color: rgb(250,248,240)  ;
    border-bottom: 2px solid rgb(255, 186, 57);
}
.active{
    color: aqua;
}
.logo_card{
    display: flex;
    justify-content: flex-start;
    width: 33.3333%;
    /* width: 20%; */
    padding: 0 15px;
}
.logo{
    width: 95px;
    height: 55px;
}

.nav{
    display: flex;
    justify-content: center;
    width: 33.3333%;
    /* width: 46.3333%; */
}
.btn-nav, .btn-log{
    margin: 0 10px;
    padding: 0 5px;
    border: none;
    height: 100%;
    background-color: rgba(250, 248, 240, 0.1);
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

.login{
    display: flex;
    justify-content: flex-end;
    width: 33.3333%;
}

.btn-nav:hover, .btn-log:hover {
    color: rgb(255, 186, 57);
    background: transparent;
    box-shadow:none;
    animation-delay:1s;
}

.btn-nav::before, .btn-log::before,
.btn-nav:after, .btn-log:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(255, 186, 57);
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:300ms ease all;
}

.btn-nav:after, .btn-log:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

.btn-nav:hover:before, .btn-log:hover:before,
.btn-nav:hover:after, .btn-log:hover:after{
  width:100%;
  transition: 400ms ease all;
  animation-delay:1s;
}

/* Burger Menu */

.burger-container{
    display: flex;
    align-items: center;
}

.burger-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar{
    display: none;
    width: 2.5em;
    height: 0.3em;
    background-color: black;
    border-radius: 0.5em;
}

.menu{
    width: 250px;
    height: 100vh;
    background-color: rgb(247, 234, 190);
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
}
.menu_padding_top{
    padding-top: 90px;
}
.burger-nav-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.burger_btn-nav{
    margin: 10px 0;
    height: 40px;
    font-size: 18px;
}

/* ---------------Sliding menu ---------------------- */

.hidden{
    display: none;
}

.visible{
    display: inherit;
}

/* ------------ Menu animation -------------------- */

.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.6em, 0.8em);
    transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.0001);
    /* transition: ease-out 0.3s; */
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 0.6em);
    transition: ease-out 0.3s;
}

.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

@media(min-width: 681px){
    .menu{
        display: none;
    }
}

@media (max-width: 680px){
    .nav, .login{
        display: none;
    }
    .burger-bar{
        display: block;
    }
    .burger-menu{
        margin: 3px 0;
        height: 33px;
        width: 3em;
    }
    .header_card{
        display: flex;
        justify-content: space-between;
        padding: 10px 25px;
    }
}

