.aboutCompany_container{
    min-height: 300px;
}


.img_aboutCompany{

    background-image: url('./../../../img/team3.png');

    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
