.ourExpirience_container{
    min-height: 300px;
}
  
.img_ourExpirience{

    background-image: url('./../../../img/expirience.png');

    background-position-x: center;
    background-position-y: center;
    background-size: 85%;
    background-repeat: no-repeat;
}