.ourMission_container{
    min-height: 300px;
}

.img_ourMission{

    background-image: url('./../../../img/mission.png');

    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
