.welcome_container{
    min-height: 300px;
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all;
}

.img_welcome{

    border-radius: 46% 3% 3% 46%;
    background-image: url('./../../../img/youtube_profile.png');

    background-position-x: center;
    background-position-y: center;
    background-size: 120%;
    background-repeat: no-repeat;
}

@media( max-width: 850px ){
    .welcome{
        width: 350px;
        transition: .3s all;
    }
    .welcomeImg{
        width: 350px;
        transition: .3s all;
    }
}